.container{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid black;  
    justify-items: center;
    margin: 50px;
    column-gap: 10px;
}
.container > div{
    padding: 30px;
    background-color: rgb(183, 183, 224);
    border: 1px solid;

}